{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    {% include 'inc/navbar.html.twig' %}
    {% include "inc/header.html.twig" %}
    <main class="container container-fluid">
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert-{{ label }} p-2">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
        {% block main %}{% endblock %}
    </main>
    {% include "inc/footer.html.twig" %}
{% endblock %}