<form method="post" action="{{ path('project_archive', {'id': project.id}) }}" onsubmit="return confirm('Are you sure you want to archive this item ?');">
    <input type="hidden" name="_method" value="UPDATE">
    <input type="hidden" name="_token" value="{{ csrf_token('stored' ~ project.id) }}">
    <button class="btn">Archive</button>
</form>