<header class="jumbotron jumbotron-fluid bg-orange-light px-5 py-2">
    <h1 class="display-5">KoiKan</h1>
    <p class="lead">Respectez vos échances koikil en soit !</p>
    <small class="text-orange-dark font-weight-bolder">{{ app.user.firstname }} {{ app.user.lastname }}</small>
</header>